@import '$src/index.less';

.bg-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.detail-drawer {
    @color-grey: #bdc1c6;

    .flex-width();
    width: 100%;

    padding: 20px;
    position: fixed;
    bottom: 0;

    max-height: 50vh;
    min-height: 270px;

    background-color: fade(white, 60%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-radius: 8px 8px 0 0;
    border: 1px solid @color-grey;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 20px 0px;

    z-index: 10;

    display: flex;

    .brief-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
        flex-shrink: 0;
        max-width: 40%;

        img {
            border-radius: 8px;
            max-width: 100%;
        }

        h5 {
            margin-top: 8px;
            text-align: center;
        }
    }

    .chapter-list {
        flex-grow: 1;
        max-height: 100%;
        overflow-y: scroll;
        padding-right: 15px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-auto-rows: 30px;

        .chapter {
            font-size: 12px;
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 8px;
            padding: 5px;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all ease-in-out 0.3s;

            &:hover {
                border-color: blue;
                color: blue;
            }
        }
    }
}