body {
  margin: 0;
  font-family: JetBrains Mono, Menlo, Monaco, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-width() {
  max-width: 960px;
  min-width: 320px;
}

#root {
  .flex-width();
  margin: 0 auto;
}

// 字号设置
/* html {
  font-size: 16px;
}

@media screen and (min-width: 375px) {
  html {
    font-size: calc(16px + 1 * (100vw - 375px) / 39);
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: calc(18px + 2 * (100vw - 414px) / 586);
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: calc(22px + 3 * (100vw - 960px) / 960);
  }
} */